div.poemBuilder {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
  color: #031e4a; /* navy blue */
  background-color: #D2B48C; /* tan */
  font-weight: bold;
  font-size: 200%;
}

button {
  font-size: inherit;
  background-color: #031e4a; /* navy blue */
  color: #D2B48C; /* tan */
}

button.selected {
  color: #031e4a; /* navy blue */
  background-color: #D2B48C; /* tan */
}

a {
  font-size: inherit;
  background-color: #031e4a; /* navy blue */
  color: #D2B48C; /* tan */
}

a.selected {
  color: #031e4a; /* navy blue */
  background-color: #D2B48C; /* tan */
}

div.poem {
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  padding: .25em;
}

div.title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

div.lines {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

span.line {
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: end;
}

span.line > textarea {
  font-size: inherit;
  margin: 1%;
  
  grid-column-start: 1;
  grid-column-end: 2;
}

span.line > h4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

div.history {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

textarea {
  font-family: inherit;
  font-weight: bold;
  color: #031e4a; /* navy blue */
  background-color: #D2B48C; /* tan */
  margin: 1%;
  resize: none;
}

textarea.focus {
  outline: none;
}

div.row {
  display: inline-flex;
  justify-content: space-evenly;
}

div.title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: inherit;
  display: inline-flex;
}

textarea.title {
  font-size: inherit;
  flex: 2 2 1;
}

textarea.title > span {
  flex: 2 2 1;
}

div.currentWord {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  outline: dashed;
  font-size: inherit;
  margin-right: .5em;
  display: grid;
}

h1.currentWordDisplay {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

textarea.currentWordSyllableCount {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: inherit;
  resize: auto;
  width: 10%;

}

textarea.currentWordSyllableText {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: inherit;
  resize: none;
  border: none;
}

textarea.currentDefinition {
  font-size: inherit;
  resize: none;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

h4.counter {
  margin: 1%;
  margin-right: 0%;
  margin-left: 0%;
  float: left;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* Navbar & Title */

section { 
  display: grid;
}

nav {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  padding: 0;
  justify-content: center;

  margin-bottom: 1em;
}

/* title */
section > h1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  margin-top: 1em;
  margin-bottom:0;
  justify-content: center;
}

nav button:hover {
  color: #031e4a; /* navy blue */
  background: #D2B48C; /* tan */
}



button:disabled,
button:disabled:hover {
  opacity: 0.5;
}

button.reaction-button {
  border: 1px solid #e0e3e9;
  padding: 5px 10px;
  margin: 5px 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--redux-color);
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--redux-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Notifications list */

.notification {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.notificationsList .notification + .notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
}
